.my-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gaegu', cursive;font-size: 26px;
}

.dateTimestamp {
  padding-left: 5%;
  padding-right:0;
  min-width: 40%;
}

@media(min-width : 540px) and (max-width : 750px) {

.dateTimestamp {
  padding-left: 5%;
  padding-right:0;
  min-width: 80%;
}
}

@media(min-width : 150px) and (max-width : 539px) {

  .dateTimestamp {
    padding-left: 5%;
    padding-right:0;
    min-width: 80%;
  }
  }