*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gaegu', cursive;
}

html, body{
  height: 100%;
}


body{
  font-family: 'Montserrat', serif;

}

main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
main::before {
  
  /*Everything in here was to get the background to fade without effecting anything else.*/
  content: "";
  background: url(https://teiresa.github.io/background/assets/cloud-bears.jpg); 
  background-size: 300px;
  background-repeat: repeat;
  opacity: .8;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:-5;
}

.game-quiz-container{
  width: 40rem;
  height: 30rem;
  background-color: ivory;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.game-details-container{
  color: #666;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner:before, .banner:after {
  content: "";
  flex: 1 1;
  border-bottom: 10px double #8dbabb;
  opacity: .4;
  margin: auto;
}

#banner-spacer{
  content: "";
  width: 12%;
  border-bottom: 10px double #8dbabb;
  opacity: .4;
}

.game-details-container h1{
  font-size: 1.2rem;
}

.game-question-container{
  width: 80%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8dbabbc2;
  color: ivory;
  border: 2px solid #8dbabb;
  border-radius: 25px;
}

.game-question-container h1{
  font-size: 1.5rem;
  text-align: center;
  padding: 3px;
}

.game-options-container{
  width: 80%;
  height: 12em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.game-options-container span{
  width: 45%;
  height: 22%;
  background-color:honeydew; 
  border: 2px solid #8dbabb;
  border-radius: 20px;
  overflow: hidden;
}

span label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

span label:hover{
  -ms-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  color: #8dbabb;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked ~ .option {
  background: #8dbabb;
}

.next-button-container{
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.next-button-container button{
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  font-weight: 600;
  border: 2px solid rgba(255, 192, 203, 0.384);
  cursor: pointer;
  outline: none;
}
.next-button-container button:hover{
  background-color: pink;
  font-size: 1.3rem;
}

.modal-container{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
  height: 20rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1{
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details{
  width: 15rem;
  height: 9rem;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p{
  color: white;
  text-align: center;
}

.grade-icon {
  height: 180px;
  position:relative;
  top: -15px;
  color: rgb(53, 52, 52);
  font-size: 12em;
  z-index: 0;
}

.game-options-container .pick-icon {
  background:none;
  border: none;
  display: flex;
  justify-content: center;
}

.pick-icon {
  height: 40px;
  position:relative;
  top: -15px;
  color: rgb(53, 52, 52);
  font-size: 2em;
  z-index: 0;
}

 .kitty {
  font-size: 5em;
  top: -85px;
}

.modal-button-container{
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button{
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid pink;
  color: pink;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
}
.modal-button-container button:hover{
  width: 12rem;
  height: 2.4rem;
  background-color: pink;
  color: rgb(43, 42, 42);
  border-color: rgb(43, 42, 42);
  font-size: 1.8rem;
}

@media(min-width : 300px) and (max-width : 350px){
  .game-quiz-container{
      width: 90%;
      height: 80vh;
   }
   .game-details-container h1{
      font-size: 0.8rem;
   }

   .game-question-container{
      height: 6rem;
   }
   .game-question-container h1{
     font-size: 0.9rem;
  }

  .game-options-container span{
      width: 90%;
      height: 2.5rem;
      background-color: pink;
  }
  .game-options-container span label{
      font-size: 0.8rem;
      width: 100%;
  }
  .modal-content-container{
      width: 90%;
      height: 25rem;
  }

  .modal-content-container h1{
      font-size: 1.2rem;
  }
}

@media(min-width : 350px) and (max-width : 700px){
 .game-quiz-container{
     width: 90%;
     height: 80vh;
  }
  .game-details-container h1{
      font-size: 1rem;
  }

  .game-question-container{
      height: 11rem;
      width: 95%;
  }

  .game-question-container h1{
      font-size: 0.9rem;
   }

   .game-options-container {
     height: 18rem;
     width: 93%;
   }

  .game-options-container span{
      width: 100%;
  }

  .game-options-container span label {
    width: 100%;
    padding-left: 7%;
  }

  .modal-content-container{
      width: auto;
      max-width: 70%;
      min-width: 60%;
      height: 20rem;
  }
  .modal-content-container h1{
      font-size: 1.2rem;
  }
}

@media(min-width : 701px) {
  .game-question-container{
    height: 10rem;
  }
  
  .game-question-container h1{
    font-size: 1.2rem;
    width: 90%;
  }

  .game-options-container span{
    height: 45%;
  }
  .game-options-container span label {
    width: 100%;
    padding: 5% 7% 5% 10%;
  }

  .modal-content-container{
    height: 18rem;
    padding: 9rem auto;
  }

  .modal-content-container::before, .modal-content-container::after {
    content: "";
    height: 15px;
  }
    

  

}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

 /* In case of touch-screen device */
    @media (pointer:coarse) {
     input[type=radio]:checked ~ .option {
      background: #8dbabb90;
      color: #536d6e;
     }

     span label:hover{
      -ms-transform: scale(1) !important;
      -webkit-transform: scale(1) !important;
      transform: scale(1) !important;
      color: #8dbabb;
    }

    /* span label{
     
     transition: transform 0.3s;
     
   } */
    }