body {
  display: flex;
  justify-content: center;

}

#progThermometer-app {}

#progThermometer-app ul {
  list-style-type: none;
}

#progThermometer {
  border: 2px blue solid;
  border-radius: 15px;
  max-width: 250px;
  min-width: 160px;
  padding: 4px;
  background-color: grey;
}

#progThermometer li .certs {}

#progThermometer .toProjects {
  text-decoration: none;
  color: darkgrey;
}

#progThermometer .toProjects:hover {
  color: pink;
  background-color: green;
}

.progBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid grey;

  width:98%;
  height: 45px;       /* was 65px with SVGs not commented out*/

}

.progBox:hover{
  color: black;
  background-color: white;
}

 .NA {
  background-color: lightgrey;
}

 .PROG {
   background-color: #FCAE1E;
 }

 .PASS {
  background-color: lightgreen;
}

.margin-box{
  background-color: ;

  display: flex;
  justify-content: center;

}

.icon-m-box {
  background-color: #ffffff55;
  width: 50%;
}

span .sr-only {}

.margin-box svg {
    /* should I put the SVGs as background watermarks? */
  width: 70%;
  max-height: 2em;
  border: 1px dashed grey;
}

.title-m-box {
  margin: 2px;
  padding: 2px;

  background-color: #ffffff55;
}
