body {
  display: flex;
  justify-content: center;

}

#progThermometer {
  border: px dashed grey;
  max-width: 200px;

  border-radius: 55px;
}

#progThermometer ul {
  list-style-type: none;

}

#progThermometer li .certs {}

#progThermometer .toProjects {
  text-decoration: none;
  color: darkgrey;
}

#progThermometer .toProjects:hover {
  color: pink;
  background-color: green;
}

.progBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px dashed grey;

  width:98%;
  height: 65px;

}

.progBox:hover{
  color: black;
  background-color: darkgrey;
}

 .NA {
  background-color: grey;
}

 .PROG {
   background-color: yellow;
 }

 .PASS {
  background-color: green;
}

.margin-box{
  background-color: ;

  display: flex;
  justify-content: center;

}

.icon-m-box {}

span .sr-only {}

.margin-box svg {

  width: 25%;
  max-height: 2em;
  border: 1px dashed grey;
}

.title-m-box {
  margin: 2px;
  padding: 2px;

  background-color: pink ;
}
