.remoteChassis {
 border: 2px black solid;
 background-color: grey;
 width: 38%;
 min-width:15em;

 &::before, &::after{
  border: 2px grey solid;
  content: "";
  height: 2em;
 }

 button{
  border: 0px;
  margin: 1px;
  min-width: 4em;
  min-height: 4em;

  
 }.btn-circle {
        
        border-radius: 80%;
        cursor: pointer;
  }
}

