$rgb-set-color: purple;
// $rgb-set-strip: lighten($rgb-set-color, 40%);

// *{
//  display: flex;
//  align-content: center;
// }

.rgb-effect{
   // border: 10rem green; 
   
   box-shadow: 0px 0px 20px $rgb-set-color; 
   // $rgb-set-color
   // padding: 1px;
  }

  select option:hover{
   color: white;

   #red{
    // :hover{
     background: red;
    
   // }
    
   }
  }


  // style="background-color: #ff44CC;"