<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Q project Layout</title>

 <!-- stylesheet (custom for this layout) -->
 <link rel="stylesheet" href="assets/quickies.css">
</head>
<body>

<div class="row owner-card">
 <p> A project by <a href="https://github.com/teiResa">@TeiResa</a></p>
</div>

 <!-- //top banner -->
 <div class="row title-card">   
  <div>
   <h1>Project Title</h1>
  </div>
  <div class="row title-pitch">
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ratione, tempore quidem accusantium accusamus tempora incidunt a ad iusto fuga doloribus porro ullam, ex ipsum in! Suscipit est non ullam?</p>
  </div>


<!-- //part A: example -->
<div class="row prj-display">
 <div class="col abc"> <!-- applet-->
  <div>
the whiteboard
  </div>
 </div>
 <div class="col abc">
  <div> <!--modifiers-->
<!-- the dropdown & the force scan button -->
the switchboard
  </div>
 </div>
</div>

<!-- //part B:  -->
<div class="row prj-info">
 <div class="col def">
  <!-- left -->
  <div class="row desc-left">
   testing light (tempLight)
  </div>
  <div class="row desc-left">
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis commodi provident quae saepe voluptates sunt molestiae asperiores nostrum sequi officiis, enim quasi voluptatibus placeat quam architecto veritatis tempora esse soluta?</p>
  </div>
 </div>
 <div class="col def">
  <!-- right -->
  <div>
   the remote control
  </div>
 </div>
</div>

  </div>
</body>
</html>