
body {
 background-color: #a7cee3;
}

body::before {
  
 /*Everything in here was to get the background to fade without effecting anything else.*/
 content: "";
 background: url(https://teiresa.github.io/background/greetcards/December/assets/4594038.jpg); 
 background-size: 1600px;
 background-repeat: repeat;
 opacity: .8;
 position:absolute;
 top:0;
 bottom:0;
 right:0;
 left:0;
 z-index:-5;
}


.content-container {
 margin: 5vh 5vw;
 width: 90vw;
 height: 90vh;
 background-color: pink;
 border-radius: 10px;
 display: flex;
 
 align-items: center;
 justify-content: center;

 
 display: grid;
 grid-template-rows: 15% 70% 15%;
}

.content-row {
 width: 100%;
}

.family-portrait {
 transform: scale(0.55);
}

h1 {
 color: green;
 font-size: 1em;
}

.banner {
 width: 100%;
 height: 4rem;
 display: flex;
 justify-content: space-around;
 align-items: center;


}

.banner:before, .banner:after {
 content: "";
 flex: 1 1;
 border-bottom: 10px double #a7cee3;
 opacity: .4;
 margin: auto;
}

#banner-spacer{
 content: "";
 width: 6%;
 border-bottom: 10px double #a7cee3;
 opacity: .4;
}




.modal-backdrop.show {
 opacity: .01; 
 /* LASTTOUCHES make more visible before sending out card */
}
.modal-backdrop {
 background-color: #000;
 height: 100vh;
 left: 0;
 position: fixed;
 top: 0;
 width: 100vw;
 z-index: 1050;
}