/* The css for only Quizes.html and any pages 
that happen to also just be lists */

// the blues
$pattern: url(https://teiresa.github.io/background/assets/cloud-bears.jpg); 
$base: #c2e0d9; 
// aqua is my base blue. Borders, accents, etc.
$base-white: #f0fff0;
$base-dark: #BBDAD4;
$text: black;
$text-muted: #6c757d9c; //muted with 9c
$link: /* change me? */  #00e;
$link-used: /* change me? */ #551A8B ;


// the pinky-purples
$pattern: url(https://teiresa.github.io/background/assets/peach-flowers.png); 
$base: #ffc5cf;
// aqua is my base blue. Borders, accents, etc.
$base-white: #ffd5f5;
$base-dark: #ffb9aa;
$text: black;
$text-muted: #6c757d9c; //muted with 9c
$link: #a728ff; /* change me? */  // #ff04ec;
$link-used: /* change me? */ #9b66d3 ;



// main::before {
  
//  /*Everything in here was to get the background to fade without effecting anything else.*/
//  content: "";
//  background: url(https://teiresa.github.io/background/assets/cloud-bears.jpg); 
//  background-size: 300px;
//  background-repeat: repeat;
//  opacity: .8;
//  position:absolute;
//  top:0;
//  bottom:0;
//  right:0;
//  left:0;
//  z-index:-5;
// }