h1 {
  color: rebeccapurple;
}

a {
  color: #b38cd9;
}

a :active {
  color: rebeccapurple;
}

.modal-backdrop.show {
  opacity: .5;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1050;
}

.fade {
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

/* 
Add this to make the falling shapes into a background:
ADD TO PAGE SPECIFIC STYLESHEETS, NOT HERE

#embedim--shape{ z-index:-9999999; }
.modal-backdrop { z-index: -1050; }
.modal-backdrop.show { z-index: -1049; }
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ the shapeflakes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rock {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  -webkit-animation-name: rock;
          animation-name: rock;
  -webkit-animation-duration: 1250ms;
          animation-duration: 1250ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  /* temp, change back to one */
}

.rock:before {
  font-family: "Font Awesome 5 Free";
  content: "\f255";
  /* icon: rock hand */
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  opacity: 1;
}

.paper {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  -webkit-animation-name: paper;
          animation-name: paper;
  -webkit-animation-duration: 1250ms;
          animation-duration: 1250ms;
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}

.paper:before {
  font-family: "Font Awesome 5 Free";
  content: "\f256";
  /* icon: paper hand */
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  opacity: 1;
}

.scissors {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
  position: relative;
  -webkit-animation-name: scissors;
          animation-name: scissors;
  -webkit-animation-duration: 1250ms;
          animation-duration: 1250ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.scissors:before {
  font-family: "Font Awesome 5 Free";
  content: "\f257";
  /* icon: scissors hand */
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  opacity: 1;
}

.first-pos {
  display: inline-block;
  top: -150px;
}

.embedim-shape::nth-child(1) {
  opacity: 0.30;
  -webkit-animation: rock 50ms linear 0.5s infinite running slidein;
          animation: rock 50ms linear 0.5s infinite running slidein;
}

@-webkit-keyframes rock {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: 90vh;
    left: -5vw;
  }
  6% {
    color: rebeccapurple;
    scale: 1.1;
    top: 30vh;
    left: 20vw;
  }
  12% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  30% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  36% {
    color: #ff9122;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  42% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 59vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 63vw;
  }
}

@keyframes rock {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: 90vh;
    left: -5vw;
  }
  6% {
    color: rebeccapurple;
    scale: 1.1;
    top: 30vh;
    left: 20vw;
  }
  12% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  30% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  36% {
    color: #ff9122;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  42% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 59vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 63vw;
  }
}

.embedim-shape::nth-child(1) {
  opacity: 0.30;
  -webkit-animation: paper 50ms linear 0.5s infinite running slidein;
          animation: paper 50ms linear 0.5s infinite running slidein;
}

@-webkit-keyframes paper {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: -25vh;
    left: 50vw;
  }
  6% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  12% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  30% {
    color: #ff9122;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  36% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  42% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 56vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 55vw;
  }
}

@keyframes paper {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: -25vh;
    left: 50vw;
  }
  6% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  12% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  30% {
    color: #ff9122;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  36% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  42% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 50vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 56vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 55vw;
  }
}

.embedim-shape::nth-child(1) {
  opacity: 0.30;
  -webkit-animation: scissors 50ms linear 0.5s infinite running slidein;
          animation: scissors 50ms linear 0.5s infinite running slidein;
}

@-webkit-keyframes scissors {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: 90vh;
    left: 110vw;
  }
  6% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  12% {
    color: rebeccapurple;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  30% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  36% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 40vw;
  }
  42% {
    color: rebeccapurple;
    scale: 0.7;
    top: 40vh;
    left: 70vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 46vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 48vw;
  }
}

@keyframes scissors {
  0% {
    color: rebeccapurple;
    scale: 1.1;
    top: 90vh;
    left: 110vw;
  }
  6% {
    color: rebeccapurple;
    scale: 3.1;
    top: 40vh;
    left: 80vw;
  }
  12% {
    color: rebeccapurple;
    scale: 5.0;
    top: 70vh;
    left: 50vw;
  }
  30% {
    color: rebeccapurple;
    scale: 3.1;
    top: 30vh;
    left: 20vw;
  }
  36% {
    color: rebeccapurple;
    scale: 0.7;
    top: 10vh;
    left: 40vw;
  }
  42% {
    color: rebeccapurple;
    scale: 0.7;
    top: 40vh;
    left: 70vw;
  }
  60% {
    color: #ff9122;
    scale: 7.0;
    top: 58vh;
    left: 46vw;
  }
  100% {
    color: yellow;
    scale: 14.0;
    top: 50vh;
    left: 48vw;
  }
}
/*# sourceMappingURL=rps2.css.map */